@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #f7f5ee;
  color: #3e342f;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e2d6;
  border-radius: 20px;
}
